@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&family=Shantell+Sans&display=swap');
/* @import url(../img/clouds.jpg); */
/* font-family: 'Poppins',
sans-serif;
font-family: 'Shantell Sans',
cursive; */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.home-page{
  padding-bottom: 2rem;
}
header{
  height: 60px;
  padding: .7rem 30px;
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.7px);
  -webkit-backdrop-filter: blur(11.7px);
}
button{
  border: none;
  outline: none;
  background: none;
  color: #fff;
  font-size: 1.5rem;
}
.city-name{
  width: 120px;
  text-align: center;
  font-size: 13px;
  color: #ddd;
  margin: auto;
  font-family: 'Poppins', sans-serif;
  font-family: 'Shantell Sans', cursive;
}
.fa-magnifying-glass{
  color: #ddd;
  font-size: 20px;
  margin-top: .5rem;
}
.weather-details{
  width: auto;
  margin:6rem auto 0 auto;
  padding: 10px 40px;
  color: #ddd;
}
.temperature{
  display: flex;
  height: 60px;
  margin: auto;
  width: 60px;
  font-family: 'Rubik', sans-serif;
}
.value h1{
  font-size: 4rem;
  font-weight: 900;
}
.degree sup{
  margin-right: .3rem;
}
.degree p{
  font-size: 1.2rem;
  margin-top: .7rem;
  margin-left: .5rem;
  font-weight: 700;
}
.degree {
  align-self: flex-start
}
.temperature + p{
  font-family: 'Shantell Sans', cursive;
  text-align: center;
  margin-top: 2.5rem;
  font-size: 1.11rem;
  font-family: 'Shantell Sans', cursive;
}
.aqi{
  margin: 1.5rem auto;
  background: rgba(167, 160, 160, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  border: 1px solid rgba(167, 160, 160, 0.3);
  display: flex;
  width: 90px;
  padding: .5rem .8rem;
}
.fa-leaf{
  font-size: .9rem;
}
.aqi p{
  font-size: .7rem;
  margin-left: .5rem;
}
.forecast-details{
  color: #ddd;
  font-family: 'Shantell Sans', cursive;
  margin-top: 3rem;
  font-size: .7rem;
  /* padding: 20px 30px; */
}
.forecast-details img{
  width: 25px;
  height: auto;
}
.fa-moon, .fa-sun{
  color: yellow;
}
.fa-cloud-bolt{
  color: #ddd;
}
.next-tomorrow, .today, .tomorrow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}
.next-tomorrow-weather, .today-weather, .tomorrow-weather{
  display: flex;
  align-items: center;
}
.next-tomorrow-weather p, .today-weather p, .tomorrow-weather p{
  margin-left: .9rem;
}
.five-day-forecast{
  width: 100%;
  text-align: center;
  padding: .5rem 20px;
  background: rgba(167, 160, 160, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  border: 1px solid rgba(167, 160, 160, 0.3);  
}
.forecast-details a{
  text-decoration: none;
  color: #ddd;
  width: 100%;
  text-align: center;
}

.more-weather-details, .air-quality-index-detail{
  margin: .3rem 20px;
  background: rgba(167, 160, 160, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  border: 1px solid rgba(167, 160, 160, 0.3);  
  padding: 2rem;
  font-family: 'Shantell Sans', cursive;
}
.sunrise-and-sunset{
  display: flex;
  justify-content: space-between;
  color:rgba(255, 255, 255, .6);
  font-size: .8rem;
}
.weather-info{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 2rem; 
}
.weather-info p, .air-quality-index-detail p{
  color: #ddd;
}
.weather-info h5, .air-quality-index-detail h5, .air-quality-index-detail a{
  color: #bbb;
  font-size: .5rem;
  margin-top: 1.5rem;
  letter-spacing: 1.5px;
  text-decoration: none;
}
.air-quality-index-detail{
  padding: 0 2rem .4rem 2rem;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}
.aqi-details{
  display: flex;
  width: 90px;
  margin-top: .5rem;
}
.aqi-details .fa-leaf{
  color: #ddd;
  margin-right: .4rem;
}
.full-aqi-details{
  align-self: flex-end;
}
/* Day forecast */
.day-forecast, .search{
  height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: 'Shantell Sans', cursive;
}
.day-forecast .header, .search .header{
  padding: 2rem 30px;
}
.day-forecast h2, .search h2{
  margin-top: 1.5rem;
}
form{
  width: 100%;
  padding: 0 30px;
  position: relative;
}
input{
  width: 100%;
  height: 43px;
  border-radius: 10px;
  border: none;
  outline: none;
  caret-color: rgb(0, 54, 202);
  background-color: rgba(31, 33, 34, 0.8);
  padding: .7rem 40px;
  font-family: 'Shantell Sans', cursive;
  color: #fff;
}
form button{
  position: absolute;
  left: 11%;
  color:rgba(255, 255, 255, .6);
}
/* hourly forecast */
.hourly-forecast{
  /* height: 100px; */
  overflow-x: scroll;
  padding: .9rem 20px;
  display: flex;
  justify-content: space-between;
  font-family: 'Shantell Sans', cursive;
}
.hours{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 .4rem;
  width: 90px;
}
.hour{
  color: rgba(255, 208, 208, 0.6);
  font-size: .6rem;
  padding-bottom: .6rem;
}

.hour-temp{
  color: #ddd;
  font-size: .8rem;
}
.hours img{
  width: 45px;
}
.hours img + p{
  color: #ddd;
  font-size: .5rem;
  text-align: center;
  padding-top: .6rem;
}
/* 5 day forecast */
.forecast-days{
  padding: 2rem 20px;
  margin-bottom: 15px;
}
.day-forecast .header{
  border-bottom: 1px solid rgba(167, 160, 160, 0.31);
}
.day p{
  font-size: .9rem;
}
.forecast{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .5rem;
  padding: .4rem 20px;
  border-bottom: 1px solid rgba(167, 160, 160, 0.31);
}
.forecast img{
  width: 20px;
}
.forecast-info{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}